/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #18181b;
    --ifm-color-primary-dark: #161618;
    --ifm-color-primary-darker: #141417;
    --ifm-color-primary-darkest: #111113;
    --ifm-color-primary-light: #1a1a1e;
    --ifm-color-primary-lighter: #1c1c20;
    --ifm-color-primary-lightest: #1e1e23;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: #acacbb;
    --ifm-color-primary-dark: #d8d8e0;
    --ifm-color-primary-darker: #cacad4;
    --ifm-color-primary-darkest: #adadbb;
    --ifm-color-primary-light: #f6f6f7;
    --ifm-color-primary-lighter: #ffffff;
    --ifm-color-primary-lightest: #ffffff;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

a {
    font-weight: 600;
}
