[submodule "modules/template"]
	path = modules/template
	url = https://github.com/compozerr/template
[submodule "modules/config"]
	path = modules/config
	url = https://github.com/compozerr-lib/config
[submodule "modules/mail-resender"]
	path = modules/mail-resender
	url = https://github.com/compozerr-test2/mail-resender.git
	branch = main
