[submodule "modules/template"]
	path = modules/template
	url = https://github.com/compozerr-lib/template
[submodule "modules/config"]
	path = modules/config
	url = https://github.com/compozerr-lib/config
