[submodule "modules/template"]
	path = modules/template
	url = https://github.com/compozerr/template
[submodule "modules/config"]
	path = modules/config
	url = https://github.com/compozerr-lib/config
[submodule "modules/mail-resend"]
	path = modules/mail-resend
	url = https://github.com/compozerr-lib/mail-resend.git
	branch = main
