services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "1234:5173"
    restart: always
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "1235:5000"
    restart: always
    networks:
      - app-network

  module-runner:
    build:
      context: .
      dockerfile: Dockerfile.modules
    volumes:
      - ./modules:/app/modules
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - app-network
    stop_grace_period: 20s

networks:
  app-network:
    driver: bridge
    external: true