services:
  docs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1236:1236"
    networks:
      - app-network

networks:
  default:
    name: app-network
    external: true